.archive-header {
  text-align: center;
  margin-bottom: -$baseline-height;

  h1 {
    display: inline-block;
    @extend %eleven-pixels;
  }
  i {
    color: $color-gray-10;
    vertical-align: text-bottom;
  }
  span {
    font-weight: 400;
  }
}