.comment-respond {
  margin: $baseline-height * 3 0;

  label {
    display: block;
    margin-bottom: $baseline-height / 2;
  }
}
#cancel-comment-reply-link {
  @extend %eleven-pixels;
  margin-left: 12px;
}