.site-header {
  position: relative;
  padding: $baseline-height 0;
  border-bottom: solid 1px $color-gray-83;
  margin-bottom: $baseline-height;
}
.title-container {
  display: inline-block;
  margin-left: $column * 2;
  max-width: 75%; // prevent looong site titles from pushing menu toggle out of place
}
.site-title {
  font-size: 1em;
  line-height: 1.5;

  a {
    border: none;
    transition: color 0.1s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      color: $color-gray-40;
    }
  }
}
.tagline {
  @extend %eleven-pixels;
  margin: 0;
}
.toggle-navigation {
  @extend %twenty-four-pixels;
  line-height: 1;
  float: right;
  background: none;
  border: none;
  margin: 0 $column * 2 0 0;
  padding: 0;
  color: $color-gray-10;

  &:focus,
  &.open {
    outline: none;
    color: $color-orange;
  }
}
.social-media-icons {
  list-style: none;
  margin: $baseline-height  0 -10px; // li:last-child in menu has negative margin-bottom and needs to remove extra space below it
  padding: $baseline-height / 2 $column * 2 0;
  float: left;
  transition: opacity 0.1s ease-in-out;

  li {
    display: inline-block;
  }
  a {
    @extend %twenty-four-pixels;
    border-bottom: none;
    margin-right: 12px;
  }

  &.fade {
    opacity: 0;
  }
}
.site-header {

  .search-form-container {
    position: relative;
    float: right;
    text-align: right;
    margin: $baseline-height * 1.5 $column * 2 0 0;

    button {
      position: relative;
      z-index: 9;
      background: none;
      border: none;
      margin: 0 -10px 0 0;
      padding: 6px 10px;
      font-size: 1em;
      line-height: 1.5;

      &.open {

        + form {
          opacity: 1;
        }
      }
    }
    i {
      color: $color-gray-10;
      z-index: -1; // so that the button is clicked, not this icon
    }
    form {
      position: absolute;
      top: 0;
      right: -12px;
      left: 0;
      opacity: 0;
      transition: opacity 0.15s ease-in-out, left 0.15s ease-in-out;
    }
    .search-field {
      max-width: none !important;
      outline: none !important;
      padding: 9px 12px !important;

      &:focus {
        background: $color-gray-93 !important;
        outline: solid 1px $color-gray-83 !important;
      }
    }
  }
}

@media all and (min-width: $six-hundred) {

  .site-title {
    font-size: 1.5em; /* 24px / 16px */
    line-height: 1.5; /* 36px */
  }
  .toggle-navigation {
    line-height: 1.5;
  }
}

@media all and (min-width: $nine-hundred) {

  .site-header {
    padding: $baseline-height $column * 2;
  }
  .title-container {
    margin-left: 0;
    margin-right: $baseline-height * 2;
    max-width: none; // allow title to span full site width again
  }
  .toggle-navigation {
    display: none;
  }
  .social-media-icons {
    position: absolute;
    right: ($column * 2);
    top: $baseline-height;
    margin: 0;
    margin-right: $baseline-height;
    padding: 0;
    border: none;

    a {
      transition: color 0.1s ease-in-out;

      &:hover,
      &:active,
      &:focus {
        color: $color-orange;
      }
    }
  }
  .site-header .search-form-container {
    position: absolute;
    top: $baseline-height;
    right: $column * 2;
    margin: 0;

    button {

      &:hover {
        cursor: pointer;
      }
      &.open {

        + form {
          left: -266px;
        }
      }
    }
  }
}

@media all and (min-width: $fourteen-hundred) {

  .site-header {
    border: none;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -999px;
      right: -999px;
      height: 1px;
      background: $color-gray-83;
    }
  }
}