.site-header {
  padding: $baseline-height 0;
  border-bottom: solid 1px $color-gray-83;
  margin-bottom: $baseline-height;
}
.title-container {
  display: inline-block;
  margin-left: $column * 2;
  max-width: 75%; // prevent looong site titles from pushing menu toggle out of place
}
.site-title {
  font-size: 1em;
  line-height: 1.5;

  a {
    border: none;
  }
}
.tagline {
  @extend %eleven-pixels;
  margin: 0;
}
.toggle-navigation {
  @extend %twenty-four-pixels;
  line-height: 1;
  float: right;
  background: none;
  border: none;
  margin: 0 $column * 2 0 0;
  padding: 0;
  color: $color-gray-10;

  &:focus,
  &.open {
    outline: none;
    color: $color-orange;
  }
}
.social-media-icons {
  list-style: none;
  margin: $baseline-height  0 -10px; // li:last-child in menu has negative margin-bottom and needs to remove extra space below it
  padding: $baseline-height / 2 $column * 2 0;
  border-top: solid 1px $color-gray-93;

  li {
    display: inline-block;
  }
  a {
    @extend %twenty-four-pixels;
    border-bottom: none;
    margin-right: 8px;
  }
}

@media all and (min-width: $six-hundred) {

  .site-title {
    font-size: 1.5em; /* 24px / 16px */
    line-height: 1.5; /* 36px */
  }
  .toggle-navigation {
    line-height: 1.5;
  }
}

@media all and (min-width: $nine-hundred) {

  .site-header {
    padding: $baseline-height $column * 2;
  }
  .title-container {
    margin-left: 0;
    margin-right: $baseline-height * 2;
    max-width: none; // allow title to span full site width again
  }
  .toggle-navigation {
    display: none;
  }
  .social-media-icons {
    position: absolute;
    right: $column * 2;
    top: $baseline-height;
    margin: 0;
    padding: 0;
    border: none;
  }
}