.site-header {
  padding: $baseline-height 0;
  border-bottom: solid 1px $color-gray-83;
  margin-bottom: $baseline-height;
}
.title-container {
  display: inline-block;
  margin-left: $column * 2;
}
.site-title {

  a {
    border: none;
  }
}
.toggle-navigation {
  @extend %twenty-four-pixels;
  float: right;
  background: none;
  border: none;
  margin: 0 $column * 2 0 0;
  padding: 0;
  color: $color-gray-10;
}
.menu-primary-items,
.menu-unset ul {
  display: none; // b/c i want it hidden from screen readers too
  list-style: none;
  margin: $baseline-height 0 0;
  border-top: solid 1px $color-gray-83;

  a {
    @extend %uppercase;
    @extend %eleven-pixels;
    display: inline-block;
    padding: 12px 0 12px $column * 2;
    border: none;
  }
  li {
    position: relative;
    border-bottom: solid 1px $color-gray-93;

    &.current-menu-item,
    &.current_page_item {

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background: $color-orange;
      }
    }
    // tier 2
    &.open {

      > button {
        transform: rotate(180deg);
        border-color: $color-orange;
      }
      > ul {
        display: block;
      }
    }
  }
  > li {

    &:last-child {
      margin-bottom: -$baseline-height;
      border: none;
    }
  }
  // tier 2
  ul {
    display: none; // b/c i want it hidden from screen readers too
    list-style: none;

    li {
      border: none;

      &:last-child {
        margin-bottom: $baseline-height / 2;
      }
    }
    a {
      padding-left: $baseline-height * 2;
    }
  }
}
.toggle-dropdown {
  float: right;
  font-size: 1em;
  line-height: 1.5;
  height: $baseline-height;
  width: $baseline-height;
  margin: 7px $column * 2 0 0;
  padding: 0;
  color: $color-gray-10;
  background: none;
  border: solid 1px $color-gray-10;

  &:focus {
    outline: none;
    border-color: $color-orange;
  }
  &:after {
    content: '\f107';
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: text-bottom;
  }
}
// menu primary open
.open {

  .menu-primary-items,
  .menu-unset ul {
    display: block;
  }
}