.menu-primary-container {
  display: none;
}
.menu-primary-items,
.menu-unset ul {
  list-style: none;
  margin: $baseline-height 0 0;
  border-top: solid 1px $color-gray-83;

  a {
    @extend %uppercase;
    @extend %eleven-pixels;
    display: inline-block;
    padding: 12px 0 12px $column * 2;
    border: none;
  }
  li {
    position: relative;
    border-bottom: solid 1px $color-gray-93;

    &.current-menu-item,
    &.current_page_item {

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background: $color-orange;
      }
    }
    // tier 2
    &.open {

      > button {
        transform: rotate(180deg);
        color: $color-orange;
        border-color: $color-orange;
      }
      > ul {
        display: block;
      }
    }
  }
  > li {

    &:last-child {
      margin-bottom: -$baseline-height;
      border: none;
    }
  }
  // tier 2
  ul {
    display: none; // b/c i want it hidden from screen readers too
    list-style: none;
    margin: 0;

    li {
      border: none;

      &:last-child {
        margin-bottom: $baseline-height / 2;
      }
    }
    a {
      margin-left: 24px;
    }
    // tier 3
    ul {

      a {
        margin-left: 48px;
      }
    }
  }
}
.toggle-dropdown {
  float: right;
  font-size: 1em;
  line-height: 1.5;
  height: $baseline-height;
  width: $baseline-height;
  margin: 7px $column * 2 0 0;
  padding: 0;
  color: $color-gray-10;
  background: none;
  border: solid 1px $color-gray-10;
  text-align: center;

  &:focus {
    outline: none;
    color: $color-orange;
    border-color: $color-orange;
  }
  &:after {
    content: '\f107';
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: text-bottom;
  }
}
// menu primary open
.menu-primary-container.open {
  display: block;
}

@media all and (min-width: $nine-hundred) {

  .menu-primary-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
  }
  .menu-primary {
    display: inline-block;
    margin-left: 0;
    vertical-align: text-bottom;
  }
  .menu-primary-items,
  .menu-unset ul {
    border: none;
    margin: 0;

    li {
      display: inline-block;
      border: none;
      margin-right: 20px; // inlude default 4px from being inline-block

      &.current-menu-item,
      &.current_page_item {

        > a {
          border-color: $color-orange;
        }
        &:after {
          display: none;
        }
      }
      // tier 2
      &.menu-item-has-children {

        a {
          margin: 0;

          &:hover,
          &:active,
          &:focus {

            // cover the space between the link and the list to keep the hover going
            &:before {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              top: 16px;
              height: 48px;
            }
            ~ ul {
              opacity: 1;
              visibility: visible;
              top: calc(100% + 18px);
            }
          }
        }
        > a {
          backface-visibility: hidden;

          &:after {
            content: ' + ';
            border-bottom: solid 1px white;
          }
        }
      }
    }
    a {
      padding: 0;
      border-bottom: solid 1px transparent;

      &:hover,
      &:active,
      &:focus {
        border-color: $color-gray-10;
      }
    }
    // tier 2
    ul {
      display: block;
      position: absolute;
      top: 100%;
      top: calc(100% + 24px);
      visibility: hidden;
      overflow: visible;
      z-index: 9;
      left: 0;
      opacity: 0;
      background: white;
      padding: $baseline-height / 4 $baseline-height / 2 $baseline-height / 2;
      border: solid 1px $color-gray-83;
      text-align: center;
      backface-visibility: hidden; // fixed keyboard focus z-index issue
      transition: all 0.1s ease-in-out;

      &:hover,
      &.focused {
        opacity: 1;
        visibility: visible;
        top: calc(100% + 18px);
      }
      // :after and :before used to add triangle at top of menu popup
      &:after {
        content: '';
        position: absolute;
        top: -12px;
        left: 50%;
        left: calc( 50% - 12px);
        border-bottom: solid 12px white;
        border-left: solid 12px transparent;
        border-right: solid 12px transparent;
      }
      &:before {
        content: '';
        position: absolute;
        top: -13px;
        left: 50%;
        left: calc( 50% - 13px);
        border-bottom: solid 13px $color-gray-83;
        border-left: solid 13px transparent;
        border-right: solid 13px transparent;
      }
      li {
        display: block;
        white-space: nowrap;
        margin: 12px;
        line-height: 16px;
        backface-visibility: hidden; // fixed keyboard focus z-index issue

        &:last-child {
          margin-bottom: 0;
        }
        &:first-child {
          margin-top: 6px;
        }

        &.menu-item-has-children {

          a {
            position: relative;

            &:hover,
            &:active,
            &:focus {

              // cover the space between the link and the list to keep the hover going
              &:before {
                content: '';
                position: absolute;
                top: 0;
                right: -72px;
                left: auto;
                height: 24px;
                width: 72px;
              }
            }
          }
        }
      }
      a {
        display: inline-block;
      }
      .menu-item-has-children {

        > a {
          margin-right: -8px;

          &:hover,
          &:active,
          &:focus {

            ~ ul {
              top: 1px;
              left: calc(100% + 24px);
            }
          }
        }
        // tier 3
        ul {
          left: 100%;
          left: calc(100% + 30px);
          top: 1px;

          &:hover,
          &.focused {
            top: 1px;
            left: calc(100% + 24px);
          }
          // move the triangle to the left side
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            top: calc(50% - 12px);
            left: -24px;
            border-right: solid 12px white;
            border-top: solid 12px transparent;
            border-bottom: solid 12px transparent;
          }
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            top: calc(50% - 13px);
            left: -26px;
            border-right: solid 13px $color-gray-83;
            border-top: solid 13px transparent;
            border-bottom: solid 13px transparent;
          }
        }
      }
    }
  }
  .toggle-dropdown {
    display: none;
  }
}