.post {
  margin: $baseline-height * 3 0;

  &:first-child {
    margin-top: $baseline-height * 2;
  }
}
.post-header {
  text-align: center;
  margin-bottom: $baseline-height * 2;

  a {
    border-color: $color-gray-83;


    &:hover,
    &:active,
    &:focus {
      border-color: $color-orange;
    }
  }
  p {
    @extend %eleven-pixels;
    @extend %uppercase;
    margin-top: 0;
  }
}
.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 60%;
  background-size: cover;
  background-position: 50%;
  left: -10%;
  width: 120%;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    border: none;
  }
}
.more-link {
  @extend %eleven-pixels;
  @extend %uppercase;
  display: inline-block;
  padding: $baseline-height / 1.5 $baseline-height;
  color: white;
  background: $color-gray-10;
  border: none;
  transition: background 0.1s ease-in-out;

  &:link,
  &:visited {
    color: white;
  }
  &:hover,
  &:active,
  &:focus {
    color: white;
    background: $color-gray-30;
  }
}
.post-comments {
  @extend %eleven-pixels;
  display: block;
  margin-top: $baseline-height;

  i {
    font-size: 1.4545em; // 16px
    color: $color-gray-10;
    margin-right: 2px;
    vertical-align: text-top;
  }
  a {
    border-color: transparent;

    &:hover,
    &:active,
    &:focus {
      border-color: $color-gray-10;
    }
  }
}
.blog,
.archive,
.search {

  // center all content
  .post-content {
    text-align: center;

    // so i can un-center everything except the p containing more-link
    // this allows the more-link and comments link to both be centered next to each other
    ul,
    p:not(:last-of-type) {
      text-align: left;
    }

    // allow comments to sit next to button
    p:last-of-type {
      display: inline-block;
      margin: $baseline-height / 2 0 0;
    }
  }
}

@media all and (min-width: $four-hundred) {

  .more-link {
    margin: 0 $baseline-height 0 0;
  }
  .post-comments {
    display: inline-block;
    margin-top: 0;
  }
}

@media all and (min-width: $seven-hundred) {

  .post {
    margin-bottom: $baseline-height * 4;
  }
  .featured-image {
    padding-bottom: 62.5%;
    width: 125%;
    left: -12.5%;
  }
}
@media all and (min-width: $eleven-hundred) {

  .post-title {
    font-size: 2.25em; /* 36px / 16px */
    line-height: 1.5; /* 54px */
  }
  .post-header {
    margin: $baseline-height * 2.5 0;
  }
}

@media all and (min-width: $twelve-hundred) {

  .featured-image {
    width: 133.5%;
    left: -16.75%;
  }
}