@media print {

  // print bg images in Chrome and Safari
  .featured-image {-webkit-print-color-adjust:exact;}

  #menu-primary-container,
  #toggle-navigation,
  #sidebar-primary,
  .more-link,
  .post-comments,
  .loop-pagination,
  .further-reading,
  .comment-respond {
    display: none !important;
  }
  #title-container {
    text-align: center;
    display: block;
    max-width: 100%;
    margin: 0 !important;
  }
  #main {
    padding: 0 16.668%;
  }
  .entry {
    margin: 0 auto !important;
  }
  .blog,
  .archive,
  .search {

    .entry {
      page-break-inside: avoid;
    }
  }
  .post-after {
    margin-top: 0;
  }
  article.comment {
    page-break-inside: avoid;
  }
}