.toggle-sidebar {
  position: absolute;
  top: 100%;
  font-size: 1em;
  background: none;
  border: solid 1px $color-gray-83;
  border-top: none;
  margin: 0 0 0 $column * 2;
  padding: 0 $baseline-height / 2;
  border-radius: 0 0 12px 12px;

  &:focus {
    outline: none;

    i {
      color: $color-orange;
    }
  }
  i {
    @extend %twenty-four-pixels;
    color: $color-gray-63;
  }
}
.sidebar-primary-content {
  display: none;
  padding: $baseline-height $column * 2;
}
.sidebar-primary {
  position: relative;
  margin-top: -$baseline-height;
  margin-bottom: $baseline-height * 3.5;
}

// sidebar open
.sidebar-primary.open {
  border-bottom: solid 1px $color-gray-83;

  .toggle-sidebar {
    border-top: solid 1px $color-gray-83;

    i {
      color: $color-orange;
    }
  }
  .sidebar-primary-content {
    display: block;
  }
}