.toggle-sidebar {
  position: absolute;
  top: 100%;
  font-size: 1em;
  background: none;
  border: solid 1px $color-gray-83;
  border-top: none;
  margin: 0 0 0 $column * 2;
  padding: 0 $baseline-height / 2;
  border-radius: 0 0 12px 12px;

  &:focus {
    outline: none;

    i {
      color: $color-orange;
    }
  }
  i {
    @extend %twenty-four-pixels;
    color: $color-gray-63;
    transition: color 0.2s ease-in-out;
  }
}
.sidebar-primary-content {
  display: none;
}
.sidebar-primary-widgets {
  padding: $baseline-height $column * 2;
}
.sidebar-primary {
  position: relative;
  margin-top: -$baseline-height;
  margin-bottom: $baseline-height * 4;
}

// sidebar open
.sidebar-primary.open {
  border-bottom: solid 1px $color-gray-83;

  .toggle-sidebar {
    border-top: solid 1px $color-gray-83;

    i {
      color: $color-orange;
      transform: rotate(180deg);
    }
  }
  .sidebar-primary-content {
    display: block;
  }
}

@media all and (min-width: $seven-hundred) {

  .sidebar-primary-widgets {

    &:after {
      @include clearfix;
    }
  }
  // 2 in a row unless only 1 widget
  .sidebar-primary-widgets:not(.active-1) {

    .widget {
      width: 47%;
      float: left;

      &:nth-child(odd) {
        margin-right: 3%;
        clear: left;
      }
    }
  }
}

@media all and (min-width: $nine-hundred) {

  .toggle-sidebar {

    &:hover,
    &:active {
      cursor: pointer;

      i {
        color: $color-orange;
      }
    }
  }
  .sidebar-primary-content {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  // sidebar open
  .sidebar-primary.open {

    .sidebar-primary-content {
      // max-height added precisely with JS
//      max-height: none;
    }
  }
}

@media all and (min-width: $one-thousand) {

  // 3 in a row unless only 1 or 2 widgets
  .sidebar-primary-widgets:not(.active-1):not(.active-2) {

    .widget {
      width: 31%;
      margin-right: 0;
      margin-top: $baseline-height;

      &:nth-child(odd) {
        clear: none;
      }
      // apply margin right to every third from 1st and 2nd
      &:nth-child(3n - 2),
      &:nth-child(3n - 1) {
        margin-right: 3%;
      }
      // every 3rd starting with #4 clears left, so layout doesn't get messed up in FF
      &:nth-child(3n + 4) {
        clear: left;
      }
    }
  }
}

@media all and (min-width: $twelve-hundred) {

  /*
   * Applying 3-column CSS to widget are even if only 2 active
   * At this width, having both widgets 50% looks bad, so defaulting to 31%
   * wide at most
  */
  .sidebar-primary-widgets:not(.active-1) {

    .widget {
      width: 31%;
      margin-right: 0;
      margin-top: $baseline-height;

      &:nth-child(odd) {
        clear: none;
      }
      // apply margin right to every third from 1st and 2nd
      &:nth-child(3n - 2),
      &:nth-child(3n - 1) {
        margin-right: 3%;
      }
      // every 3rd starting with #4 clears left, so layout doesn't get messed up in FF
      &:nth-child(3n + 4) {
        clear: left;
      }
    }
  }
  // 4 in a row unless only 1, 2, or 3 widgets
  .sidebar-primary-widgets:not(.active-1):not(.active-2):not(.active-3) {

    .widget {
      width: 22%;
      margin-right: 0;
      margin-top: $baseline-height;

      // apply margin right to every fourth from 1st, 2nd, and 3rd
      &:nth-child(4n - 3),
      &:nth-child(4n - 2),
      &:nth-child(4n - 1) {
        margin-right: 4%;
      }
      // every 3rd starting with #5 clears left, so layout doesn't get messed up in FF
      &:nth-child(3n + 4) {
        clear: none;
      }
      &:nth-child(3n + 5) {
        clear: left;
      }
    }
  }
}