// widgets in all widget areas

.widget {
  @extend %eleven-pixels;
  margin: $baseline-height * 2 0;

  ul {
    list-style: none;
    margin: $baseline-height 0 0;

    a {
      border-color: transparent;

      &:hover,
      &:active,
      &:focus {
        border-color: $color-orange;
      }
    }
    li {
      margin-bottom: $baseline-height / 2;
    }
    // push sub-menus to the side to show hierarchy
    ul {
      margin: $baseline-height / 2 $baseline-height;
    }
  }
}
.widget-title {
  @extend %uppercase;
  font-size: 1em;
  margin-bottom: $baseline-height;
}

// specific widgets

.widget_calendar {

  #calendar_wrap {
    margin-top: $baseline-height;
  }
  caption {
    margin-bottom: $baseline-height;
    text-align: left;
  }
  #today {
    background: $color-gray-10;
    color: white;
  }
  tfoot {

    td {
      padding: 0;
    }
    a {
      display: inline-block;
      padding: $baseline-height / 2 $baseline-height * 2;
      border: none;
      transition: background 0.2s ease-in-out;

      &:hover,
      &:active,
      &:focus {
        background: $color-gray-93;
      }
    }
  }
}

.widget_nav_menu {

  // for when there is no title
  > div {
    margin-top:  2.636em; // 29px // if no title
  }
  // keeps menu from pushing down if title
  .widget-title + div {
    margin-top: 0;
  }
}

.widget_recent_comments {

  ul a {
    border-bottom: solid 1px $color-gray-10;

    &:link {
      color: $color-gray-10;
    }
    &:visited {
      color: $color-gray-10;
      border-color: $color-gray-83;
    }
    &:hover,
    &:active,
    &:focus {
      color: $color-gray-10;
      border-color: $color-orange;
    }
  }
}
.widget_recent_entries {

  .post-date {
    margin-left: 4px;

    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
}
.widget_rss {

  .widget-title {

    a {
      border-color: transparent;

      &:hover,
      &:active,
      &:focus {
        border-color: $color-orange;
      }
    }
    img {
      margin-right: 4px;
    }
  }
  .rssSummary {
    margin: $baseline-height / 2 $baseline-height;

    + cite {
      display: block;
      margin: 0 0 $baseline-height $baseline-height / 2;
    }
  }
  .rss-date {
    font-style: italic;
  }
  li {
    display: block;
  }
  cite,
  span {
    margin-bottom: $baseline-height;
    display: block;
  }
  span {

    + cite {
      margin-top: -$baseline-height;
    }
  }
}

.widget_search {

  .search-form-container {
    font-size: 1.4545em; // return to 16px
    line-height: 1.5;
    margin-top:  2.636em; // 29px // if no title
  }
  .widget-title + div {
    margin-top: 0;
  }
}

.widget_text {

  .textwidget {
    margin-top:  2.636em; // 29px // if no title
  }
  .widget-title + div {
    margin-top: 0;
  }
}