/* Back-end styles */
/* styles for theme options page */
#founder-dashboard-wrap h2 {
  margin-bottom: 24px;
}
#founder-dashboard-wrap .content {
  margin-top: 12px;
  padding: 12px 24px 24px;
  border: solid 1px #e5e5e5;
  background: white;
}
#founder-dashboard-wrap .content .button-primary,
#founder-dashboard-wrap .content #delete {
  margin: 12px 0;
}
#founder-dashboard-wrap .content ul {
  list-style: disc;
  margin-left: 36px;
}

/* 600px */
@media all and (min-width: 37.5em) {
  #founder-dashboard-wrap .content {
    width: 39%;
    float: left;
    margin-right: 2%;
    min-height: 192px;
  }
  #founder-dashboard-wrap .content p {
    min-height: 57px;
  }
  #founder-dashboard-wrap .content-premium-upgrade,
  #founder-dashboard-wrap .content-delete-settings {
    margin-right: 0;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  #founder-dashboard-wrap .content {
    width: 26.5%;
  }
  #founder-dashboard-wrap .content-support,
  #founder-dashboard-wrap .content-premium-upgrade,
  #founder-dashboard-wrap .content-review {
    margin-right: 1%;
  }
}
